{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Chase Rydeen Resume</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home.css' %}">  
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
</head>
<body class="bg-gray-100">
    <div class="name"><h1 class="text-3xl font-bold mb-6 text-center">David "Chase" Rydeen</h1></div>
    <div class="container mx-auto p-6 grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Visual Timeline Section -->
        <div id="visual-timeline" class="relative order-1 md:order-none md:sticky top-0">
            <div id="snake-line" class="snake-line"></div>
            <div id="timeline-markers" class="relative"></div>
        </div>

        <!-- List of Accomplishments Section -->
        <div id="regular-timeline" class="order-2 md:order-none">
            <div id="header">
                <div class="education header-item"><h2 class="text-xl">Education</h2></div>
                <div class="work header-item"><h2 class="text-xl">Work</h2></div>
            </div>
            <div id="timeline" class="relative">
                <!-- Dynamically rendered list of accomplishments -->
            </div>
            <div id="popup" class="hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center">
                <div class="bg-white p-6 rounded shadow-md max-w-md">
                    <h2 id="popup-title" class="text-xl font-bold mb-4"></h2>
                    <p id="popup-description" class="text-gray-700"></p>
                    <button onclick="closePopup()" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'home.js' %}"></script>
</body>
</html>